<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(<%= asset_path 'bg8.jpg' %>)"></div>
  <div class="container">
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">
        <div class="section section-contact-us text-center">
          <div class="container">
            <h2 class="title">Want to work with me?</h2>
            <p class="description">Just drop me a line.</p>
            <div class="row">
              <div class="col-lg-6 text-center offset-lg-3 col-md-8 offset-md-2">
                <div class="input-group form-group-no-border input-lg">
                  <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group form-group-no-border input-lg">
                  <input type="text" class="form-control" placeholder="Email...">
                </div>
                <div class="textarea-container">
                  <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                <div class="send-button">
                  <a href="/static_pages/coming_soon" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
