<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(<%= asset_path 'bg7.jpg' %>)"></div>
  <div class="container">
    <div class="res-container">
      <iframe src="https://docs.google.com/document/d/1G7m-MLUjRdpHyXiEpQkPVXOgaKN9hSTRQ583fNRfYvc/pub?embedded=true" style="width:70%; height:600px;" frameborder="0"></iframe>
    </div>
  </div>
</div>

<style media="screen">
  .res-container {
    padding-top: 100px;
  }
</style>
