<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(<%= asset_path 'bg7.jpg' %>)"></div>
  <div class="container">
    <div class="res-container">
      <%= image_tag "resume.png", class: "img-raised" %>
    </div>
  </div>
</div>
