<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card card-outline-secondary">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <h2 class="text-center">New Contact</h2>
            <%= render 'form' %>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
