<body class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image: url(<%= asset_path 'home-hero-img.jpg' %>);">
      </div>
      <div class="container">
        <div class="content-center">
          <div class="photo-container">
            <%= image_tag "me.jpg", class: "rounded-circle img-raised me-photo" %>
          </div>
          <h3 class="title">Jon Lambson</h3>
          <p class="category">Junior Engineer</p>
          <div class="content">
            <div class="social-description">
            </div>
            <div class="social-description">
            </div>
            <div class="social-description">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="button-container">
          <a href="/static_pages/coming_soon" class="btn btn-primary btn-round btn-lg">Portfolio</a>
          <a href="https://www.facebook.com/jon.lambson" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Like me on Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/jon.lambsonite/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="move-down">
          <h3 class="title">About me</h3>
          <h5 class="description">
            <p>Distinctio nonummy, ultrices? Consectetuer, quibusdam lacinia tristique etiam? Culpa minus omnis totam excepteur eu cillum? Ratione vel, hac impedit ipsum maxime reiciendis? Minima ex curabitur.</p>
            <p>Distinctio nonummy, ultrices? Consectetuer, quibusdam lacinia tristique etiam? Culpa minus omnis totam excepteur eu cillum? Ratione vel, hac impedit ipsum maxime reiciendis? Minima ex curabitur.</p>
          </h5>
        </div>
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</body>
