<footer class="footer footer-default">
  <div class="container">
    <nav>
      <ul>
        <li>
          <%= link_to "About", root_path, class: "" %>
        </li>
        <li>
          <%= link_to "Contact", static_pages_contact_path, class: "" %>
        </li>
        <li>
          <%= link_to "Portfolio", static_pages_coming_soon_path, class: "" %>
        </li>
      </ul>
    </nav>
    <div class="copyright">
    </div>
  </div>
</footer>
